apiVersion: v1
kind: ConfigMap
metadata:
  name: tap-demo-liquibase-liquibase-config
  labels:
    app.kubernetes.io/part-of: tap-demo-liquibase
    apps.tanzu.vmware.com/has-db-migrations: "true"
    apps.tanzu.vmware.com/workload-type: web
    app.kubernetes.io/component: db-migrations
    carto.run/workload-name: tap-demo-liquibase
data:
  1-greetings-table.sql: |
    --liquibase formatted sql

    --changeset mgarofalo:create-greetings-table
    create table greetings
    (
        id      bigint primary key,
        message varchar(255) not null
    );

    --changeset mgarofalo:add-sample-greetings
    insert into greetings(id, message) values (1, 'Hello World!');
    insert into greetings(id, message) values (2, 'Ciao Mondo!');
    insert into greetings(id, message) values (3, 'Bonjour Le Monde!');
  db.changelog-master.yaml: |
    databaseChangeLog:
      - include:
          file: 1-greetings-table.sql
          relativeToChangelogFile: true
---
apiVersion: servicebinding.io/v1alpha3
kind: ServiceBinding
metadata:
  name: tap-demo-liquibase-liquibase-runner-db
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"carto.run/v1alpha1","kind":"Workload","metadata":{"annotations":{},"labels":{"app.kubernetes.io/part-of":"tap-demo-liquibase","apps.tanzu.vmware.com/has-db-migrations":"true","apps.tanzu.vmware.com/workload-type":"web"},"name":"tap-demo-liquibase","namespace":"apps"},"spec":{"build":{"env":[{"name":"BP_JVM_VERSION","value":"17"}]},"env":[{"name":"spring.liquibase.enabled","value":"false"}],"params":[{"name":"annotations","value":{"autoscaling.knative.dev/min-scale":"1"}},{"name":"gitops_server_address","value":"ssh://git@github.com"},{"name":"gitops_repository_owner","value":"th3n3rd"},{"name":"gitops_repository_name","value":"tap-demo-liquibase-gitops"},{"name":"gitops_branch","value":"dev"},{"name":"gitops_commit_message","value":"Update tap-demo-liquibase config"},{"name":"gitops_ssh_secret","value":"tap-gitops-ssh-auth"},{"name":"db_migrations_path","value":"./src/main/resources/db/changelog/*"}],"serviceClaims":[{"name":"db","ref":{"apiVersion":"services.apps.tanzu.vmware.com/v1alpha1","kind":"ClassClaim","name":"tap-demo-liquibase-db"}}],"source":{"git":{"ref":{"branch":"main"},"url":"ssh://git@github.com/th3n3rd/tap-demo-liquibase.git"}}}}
    autoscaling.knative.dev/min-scale: "1"
    kapp.k14s.io/change-group: servicebinding.io/ServiceBindings
  labels:
    app.kubernetes.io/part-of: tap-demo-liquibase
    apps.tanzu.vmware.com/has-db-migrations: "true"
    apps.tanzu.vmware.com/workload-type: web
    app.kubernetes.io/component: db-migrations
    carto.run/workload-name: tap-demo-liquibase
spec:
  name: db
  service:
    apiVersion: services.apps.tanzu.vmware.com/v1alpha1
    kind: ClassClaim
    name: tap-demo-liquibase-db
  workload:
    apiVersion: batch/v1
    kind: Job
    name: tap-demo-liquibase-liquibase-runner
---
apiVersion: batch/v1
kind: Job
metadata:
  name: tap-demo-liquibase-liquibase-runner
  annotations:
    kapp.k14s.io/change-group: db-migrations/tap-demo-liquibase
    kapp.k14s.io/change-rule.0: upsert after upserting servicebinding.io/ServiceBindings
    kapp.k14s.io/change-rule.1: upsert before upserting workload/tap-demo-liquibase
  labels:
    app.kubernetes.io/part-of: tap-demo-liquibase
    apps.tanzu.vmware.com/has-db-migrations: "true"
    apps.tanzu.vmware.com/workload-type: web
    app.kubernetes.io/component: db-migrations
    carto.run/workload-name: tap-demo-liquibase
spec:
  template:
    metadata:
      labels:
        app.kubernetes.io/part-of: tap-demo-liquibase
        apps.tanzu.vmware.com/has-db-migrations: "true"
        apps.tanzu.vmware.com/workload-type: web
        app.kubernetes.io/component: db-migrations
        carto.run/workload-name: tap-demo-liquibase
    spec:
      containers:
      - name: db-migrations
        image: liquibase/liquibase@sha256:402dd9d122a0ce1b5d6e165492c5d45d06694dc5be64c0d36fdb219f783d7551
        command:
        - /bin/sh
        - -c
        args:
        - |
          set -e
          cd `mktemp -d`
          cp /liquibase-config/* .
          echo "changeLogFile: ./db.changelog-master.yaml" >> ./liquibase.properties
          echo "username: $(cat /bindings/db/username)" >> ./liquibase.properties
          echo "password: $(cat /bindings/db/password)" >> ./liquibase.properties
          echo "url: jdbc:$(cat /bindings/db/type)://$(cat /bindings/db/host):$(cat /bindings/db/port)/$(cat /bindings/db/database)" >> ./liquibase.properties
          liquibase update --defaultsFile=$(pwd)/liquibase.properties
        volumeMounts:
        - name: liquibase-config
          mountPath: /liquibase-config
          readOnly: true
      volumes:
      - name: liquibase-config
        configMap:
          name: tap-demo-liquibase-liquibase-config
      restartPolicy: Never
  backoffLimit: 2

